body {
  text-align: center;
  font-family: 'Share Tech', sans-serif;
  background-image: linear-gradient(-500deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
}

#logo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 3px;
  border-color: #dae1e7;
  border-style: dotted;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}

.description_box {
  border: 1px;
  border-color: #dae1e7;
  border-style: solid;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  background-color: #e7eaf6;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}


#icon li {
  display: inline;
  font-size: 40px;
  margin-left: 10px;
}

#icon {
  padding-right: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}



